<ul>
  <% foundUniversities.universities.forEach(function(uni) { %>

  <li><%= uni.name %></li>

  <% }); %>
</ul>
<form action="/" method="GET">
  <input type="submit" value="return" class="btn" />
</form>
