html,
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: white;
  box-sizing: content-box;
}
body::-webkit-scrollbar{
    width:0;
    height: 0;
  }
body#bg-img {
  background: url(../img/panorama.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img .overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 140%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.7);
}

/*index.ejs styling*/
main {
  padding: 5rem;
}
h1 {
  margin: 0;
  font-weight: 400;
  font-size: 5rem;
  margin-top: 15vh;
  padding-left: 1rem;
}
h2 {
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}


.textForm {
  height: 20px;
  padding: 6px 10px;
  border: 2px solid gray;
  border-radius: 10px;
}
.textForm:hover {
  transition: 0.4s;
  padding: 8px 12px;
  border: 3px solid cyan;
}

.textForm:focus {
  padding: 8px 12px;
  border: 3px solid cyan;
}
.btnForm {
  background-color: cyan;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.7;
  transition: 0.4s;
}
.btnForm:hover {
  opacity: 1;
}

/*main.ejs styling*/
#mainHeader {
  text-align: center;
}
/*Styling the table on main.ejs*/
#table {
  border-collapse: collapse;
  width: 80%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(1n) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: cyan;
  color: white;
}

.btnReturn {
  margin: auto;
  display: block;
  margin-bottom: 5px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 400;
  /* padding: 10px 60px; */
  text-align: center;
  font-size: 16px;
  width: 200px;
  height: 30px;
  opacity: 1;
  transition: 0.4s;
}
.btnReturn:hover{
  background-color: cyan;
  color: white;
}


#footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background: rgba(111, 112, 111, 0.4);
    color: #fff;
    height: 15px;
    width: 100%;
    margin-top: 100px"
}

#sign{
    width: 300px;
    padding: 40px;
    position: fixed;
    background: rgba(111, 112, 111, 0.4);
    top: 50%;
    left: 27%;
    border: 3px solid cyan;
    transform: translate(30%,-50%);
    text-align: center;
    border-radius: 10%;
  }

  #sign h1{
    margin-bottom: 2rem;
    color: white;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
  }

  #sign-username ,#sign-password{
    margin-top: 1rem;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cyan;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
  }
  
  
  #sign-signin{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cyan;
    padding: 14px 40px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  #sign-signin:hover{
    background: cyan;
  }
  